.icon-menu {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  justify-content: flex-start; /* 상단 정렬 */
  align-items: center; /* 가로 중앙 정렬 */
  width: 40px; /* 메뉴 너비 */
  background-color: #eaeaea; /* 배경색 */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  height: auto; /* 내용에 따라 높이 조정 */
  padding: 50px 10px; /* 최상단 여백 */
  box-sizing: border-box; /* 패딩 포함 크기 계산 */
}

/* 아이콘 크기 조정 */
.icon img {
  width: auto;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  margin-bottom: 20px; /* 아이콘 간 간격 */
}

.icon:hover img {
  transform: scale(1.1); /* 호버 시 확대 */
}
