.icon-menu {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  justify-content: flex-start; /* 상단 정렬 */
  align-items: center; /* 가로 중앙 정렬 */
  width: 40px; /* 메뉴 너비 줄이기 */
  background-color: #eaeaea;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  height: 100%; /* 부모 높이 기준 */
  padding-top: 5px; /* 상단 여백 줄이기 */
}

/* 아이콘 크기 조정 */
.icon img {
  width: 16px; /* 아이콘 너비 줄이기 */
  height: 16px; /* 아이콘 높이 줄이기 */
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  margin-bottom: 10px; /* 아이콘 간 간격 조정 */
}

.icon:hover img {
  transform: scale(1.1); /* 호버 시 약간 확대 */
}
